@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Glitch&display=swap');

* {
  background-color: black;
}

.title, .subtitle {
  font-family: "Rubik Broken Fax", sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(194, 84, 0);
}

.subtitle {
  font-size: 40px;
  font-weight: 300;
  background-color: rgb(220, 132, 65);
}

.recipes, .recipes button {
  font-family: "Rubik Glitch";
  font-weight: 200;
  font-size: 20px;
}

.center {
  text-align: center;
}

.img-size {
  height: 400px;
  width: auto;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul, ol {
  display: table;
  margin: 0 auto;
}

ul li a {
  color:white;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

ul li {
  color: white;
}

ul li a:hover {
  background-color: rgb(194, 84, 0);
}

h3.recipes {
  font-size: 30px;
}

p, h3, h4, ol li {
  color: white;
}