@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Glitch&display=swap');


.title {
  font-family: "Rubik Broken Fax", sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
}

.recipes {
  font-family: "Rubik Glitch";
}